---
import Layout from "../../layouts/Layout.astro";
import BlogContent from "../../components/BlogContent.astro";
import { getAllPosts, getBlogById } from "../../services/notion";
import { getWebsite } from "../../services/website";

// Get static paths for all blog posts
export async function getStaticPaths() {
  const posts = await getAllPosts();
  const mappedPosts = await Promise.all(
    posts.map(async (post) => {
      const fullPost = await getBlogById(post.ID.toString());
      if (fullPost === null) {
        return undefined;
      }
      return {
        params: {
          slug: post.slug,
        },
        props: {
          post: fullPost,
        },
      };
    })
  );
  return mappedPosts;
}

// Get the post data from props
const { post } = Astro.props;

if (!post) {
  Astro.redirect("/404");
}

const website = await getWebsite();

// Get metadata for the page
const tags = post?.tags?.map((item) => item.name) || [];
const title = `${post?.title} | ${website.websiteContent.about.websiteName}`;
const description = post?.seoDescription || post?.["AI summary"] || "";
const ogImage = post?.coverImage[0] || null;
---

<Layout title={title} description={description} ogImage={ogImage || ""}>
  <main class="container mx-auto px-4 py-8">
    {post ? <BlogContent post={post} /> : <p>Post not found.</p>}
  </main>
</Layout>
